.game {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
}

.play-zone {
    width: 900px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px 0px;
}

.game hr {
    width: 100%;
    border: 1px solid rgb(165, 165, 165);

    margin: 20px 0px;
}

.instructions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.instructions h1, h4 {
    margin: 5px;
}

.todo {
    height: 210px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
}

.selected-piece {
    width: 100px;
    height: 100px;

    background: rgb(218, 235, 210);

    border: 2px solid rgb(162, 221, 135);
    border-radius: 5px;
}

.player {
    font-weight: bolder;
}